<div class="wrapper">
  <ngx-graph
    class="chart-container"
    [view]="view"
    [links]="links"
    [nodes]="nodes"
    [curve]="curve"
    [autoZoom]="autoZoom"
    [autoCenter]="autoCenter"
    (select)="select($event)"
  >

    <ng-template #defsTemplate>
      <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
        <svg:path d="M0,-5L10,0L0,5" class="arrow-head" />
      </svg:marker>
    </ng-template>

    <ng-template #nodeTemplate let-node>
      <svg:g class="node">
        <svg:rect 
          [attr.width]="node.width + 20"
          [attr.height]="node.height + 10"
          rx="5"
          ry="5"
          fill="#EEEEEE"
          stroke="#DDDDDD"
          stroke-width="3"
        />
        <svg:text
          class="node-text"
          alignment-baseline="central"
          text-anchor="middle"
          [attr.x]="(node.width + 20) / 2"
          [attr.y]="(node.height + 10) / 2"
        >{{node.label}}</svg:text>
      </svg:g>
    </ng-template>

    <ng-template #linkTemplate let-link>
      <svg:g class="edge">
        <svg:path
          class="line"
          stroke-width="2"
          marker-end="url(#arrow)" >
        </svg:path>
      </svg:g>
    </ng-template>
  </ngx-graph>
</div>