@import "../styles/colors.scss";

.node {
    cursor: pointer;

    &-text {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    &-menu {
        opacity: 0;
        transition: all 0.15s ease-out;
        fill: rgb(206, 206, 206);

        &:hover {
            fill: $blue;
        }
    }

    &:hover &-menu {
        opacity: 1;
    }
}
