.wrapper {
    width: 100%;
    height: 99vh;
    background-color: azure;

    .chart-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.node {
    cursor: pointer;

    &-text {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
}