.dialog {
    text-align: center;

    &-title {
        text-align: center;
    }

    &-input {
        width: 100%;
    }

    &-actions {
        display: flex;
        justify-content: center;
    }
}
